/*
All pages
*/

.app {
    width: 100vw;
}

.tabs-list {
    list-style-type: none;
    background-color: rgb(255, 207, 117);
    padding:0.7em;
    border-radius:0.7em;
    margin-right:1.1em;
}

.tabs {
    margin:0.3em
}

li {
  font-family: 'Roboto', sans-serif;
  color:#000000cf;
  font-size:105%;
}

 /*
  Existing Project page
 */

.fa {
  font-size:145%;
}

.save-button {
    margin-left:2.5em;
    margin-bottom:1em;
}

li > label:hover {
  cursor:pointer;
}

.window-title {
  display:inline;
  margin-left:0.3em;
}

.window-title:hover {
  border-bottom: 1px darkblue solid;
  color: darkblue;
}

.arrow-checkbox{
  display:none;
}

.arrow-label:hover{
  cursor:pointer;
}

input:checked + label > #icon{
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in-out;
  color:#1a0dab;
}
input + label > #icon{
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  color:#0f0579;
}

input + label ~ div {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out, display 0.5s ease-in-out;
  display: block;
}

input:checked + label ~ div {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out, display 0.5s ease-in-out;
  display: none;
}
